<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <title></title>
   <!--这里的名称需要和刚刚在vite.config.js中配置的统一-->
  <meta name="build-time" content="<%- buildTime%>">
  <script src="./lib/OPlayer.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="module" src="<%= injectScript %>"></script>
  <!-- built files will be auto injected -->
</body>

</html>
